*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Armenian, sans-serif;

}
body {
    background-color: rgb(232, 248, 214);
}
/*Margin*/

.margin-130 {
    margin: 100px;
}

.section-center {
    display:flex;
    justify-content: center;
    align-items: center;
}