* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100%;
  font-family: "Noto Sans Armenian", sans-serif;
}

.header-text {
  background-color: rgb(230, 250, 250);
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  color: rgb(42, 102, 3);
}

.calc-page{
  background-image: url("../../images/ararat.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #c9fcdab0;
  padding: auto; 
}
/* main section style*/

#latest_home{
  width: 100%;
  position: relative;
  padding: 20px;
}

.material_block{
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}
#top_bread2 {
  margin-bottom: 30px;
  padding: 0 0 10px;
  width: 100%;
  border-bottom: 1px dotted #024;
  display: inline-block;
}
#latest_home_holder {
  padding: 0;
  width: 100%;
  float: left;
}

#calc_soc {
  letter-spacing: .03rem;
  width: 100%;
  display: inline-block
}
.table-row {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 20px
}
.mb2 {
  margin-bottom: 2px!important
}
#kx,#mk {
  cursor: pointer;
  width: 50%;
  padding: 15px 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700
}
#kx {
  background: #000b42;
  border-right: 1px solid #fff;
  color: #fff;
  border-radius: 12px 0 0 12px
}
#mk {
  background: #ddd;
  border-left: 1px solid #fff;
  color: #777;
  border-radius: 0 12px 12px 0
}
/* Soc section style*/
.pension-2 {
  cursor: text;
  text-align: right;
  width: 100%;
  color: #777;
  line-height: 1.7rem;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.1rem
}

#pno,#pik {
  cursor: pointer;
  width: 33%;
  padding: 12px;
  background: #ddd;
  color: #777;
  font-size: 1.2rem;
  display: table-cell;
  text-align: right;
  vertical-align: top
}

#pno b,#pik b,#psi b {
  font-size: 1.7rem
}

#pno {
  border-radius: 0 12px 12px 0
}

#pik {
  border-radius: 12px 0 0 12px
}

#psi {
  cursor: pointer;
  padding: 12px;
  width: 34%;
  background: #fb1b1f;
  color: #fff;
  font-size: 1.3rem;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  display: table-cell;
  text-align: right;
  vertical-align: top
}

/*It sertificat*/

.it-row {
  width: calc(100% - 40px);
  padding-top: 0;
  color: #777;
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 1.1rem;
  display: inline-block;
  text-align: right
}

.it-switch {
  width: 15%;
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 1.1rem;
  display: inline-block;
  text-align: right;
  vertical-align: middle
}

/* input and section style*/
.pen-sub {
  display: table-cell;
  width: 35%;
  color: #777;
  padding: 9px;
  line-height: 1.7rem;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: right;
  border: 1px solid #ccc;
  vertical-align: middle
}

#soctax,#socother,#pentax,#clr,#droshmanish {
  cursor: copy;
  width: 65%;
  text-align: right;
  font-weight: 400;
  font-family: Sans-serif,Roboto,courier,AAArial,ATahoma;
  padding: 9px 8px 5px 0;
  color: #777;
  letter-spacing: .2rem;
  background: #eee;
  font-size: 3rem;
  display: table-cell;
  vertical-align: middle;
  border-left: 2px solid #fff
}

#clr {
  color: #000b42!important;
  background: #ddd!important
}

#clr:hover {
  background: #ccc!important
}

#soctax:hover,#socother:hover,#pentax:hover,#droshmanish:hover {
  color: #444!important
}

#soctext {
  cursor: text;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-family: AAArial,ATahoma;
  padding: 9px 0 5px;
  color: #777;
  letter-spacing: .02rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 3rem;
  display: block
}

#soctext b {
  color: #444
}

.pension {
  cursor: text;
  float: left;
  text-align: right;
  width: 100%;
  color: #69b;
  line-height: 1.7rem;
  font-weight: 400;
  margin: 25px 0 5px;
  font-size: 1.1rem
}

#socinput {
  cursor: text;
  display: inline-block;
  width: 100%;
  font-weight: 700;
  background: #fff;
  margin-top: 0;
  font-size: 1.3rem;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 3px solid #ddd
}

#socinput input {
  font-size: 4.2rem;
  line-height: 5.8rem;
  font-weight: 400;
  font-family: Sans-serif,Roboto,courier,AAArial;
  text-align: right;
  border: 0!important;
  padding: 0!important;
  padding-right: 5px!important;
  width: 100%;
  color: #000b42;
  letter-spacing: .3rem;
  background-color: transparent!important;
  margin: 5px 0
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.catcalc {
  display: inline-block;
  cursor: pointer;
  padding: 12px 16px;
  margin: 0 10px 10px 0;
  font-size: 1.3rem;
  background: #f3f3f3;
  color: #777;
  border-radius: 6px
}


.calc-page-fields {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex: 1;
}
/* for media screan to max width 500px */

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
  }

  section {
    order: -1;
  }
}

aside {
  flex: 1;
}

section {
  flex: 3;
}
