* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Noto Sans Armenian", sans-serif;
}

.header-text {
  background-color: rgb(230, 250, 250);
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  color: rgb(42, 102, 3);
}

.calc-page{
  background-image: url("../../images/ararat.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #c9fcdaee;
  padding: auto; 
}
/* main section style*/

#latest_home{
  width: 100%;
  position: relative;
  padding: 20px;
}

.material_block{
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}
#top_bread2 {
  margin-bottom: 30px;
  padding: 0 0 10px;
  width: 100%;
  border-bottom: 1px dotted #024;
  display: inline-block;
}
#latest_home_holder {
  padding: 0;
  width: 100%;
  float: left;
}
#calc_soc {
  letter-spacing: .03rem;
  width: 100%;
  display: inline-block;
}
.table-row {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 20px;
}

#kx {
  background: #000b42;
  border-right: 1px solid #fff;
  color: #fff;
  border-radius: 12px 0 0 12px;
}
#kx, #mk {
  cursor: pointer;
  width: 50%;
  padding: 15px 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
}


.calc-page-fields {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex: 1;
}

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
  }

  section {
    order: -1;
  }
}

aside {
  flex: 1;
}

section {
  flex: 3;
}
